html {
    box-sizing: border-box;
}

body {
    font-family: 'Coda', cursive;
}

.text-center {
    text-align: center;
}


/* Styles for the deck of cards (experimented in developer tools*/

.deck {
    width: 660px;
    max-width: 100%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    width: 125px;
    height: 125px;
    background: #2e3d49;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 72, 0.5);
}
